@font-face {
	font-family: 'FontAwesome';
	src: url('../font/icon/fontawesome-webfont.eot?v=3.0.1');
	src: url('../font/icon/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		 url('../font/icon/fontawesome-webfont.woff?v=3.0.1') format('woff'),
		 url('../font/icon/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/opensans-bold.eot');
    src: url('../font/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold.woff') format('woff'),
         url('../font/opensans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/opensans-regular.eot');
    src: url('../font/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular.woff') format('woff'),
         url('../font/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('../font/opensans-italic.eot');
	src: url('../font/opensans-italic.eot?#iefix') format('embedded-opentype'),
		 url('../font/opensans-italic.woff') format('woff'),
		 url('../font/opensans-italic.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: 'OpenSansSemiboldRegular';
    src: url('../font/opensans-semibold.eot');
    src: url('../font/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold.woff') format('woff'),
         url('../font/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldRegular';
    src: url('../font/opensans-extrabold.eot');
    src: url('../font/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-extrabold.woff') format('woff'),
         url('../font/opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightRegular';
    src: url('../font/opensans-light.eot');
    src: url('../font/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-light.woff') format('woff'),
         url('../font/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../font/opensans-lightitalic.eot');
    src: url('../font/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-lightitalic.woff') format('woff'),
         url('../font/opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../font/bebasneue-webfont.eot');
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue-webfont.woff') format('woff'),
         url('../font/bebasneue-webfont.ttf') format('truetype'),
         url('../font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'great_vibesregular';
    src: url('../font/greatvibes-regular-webfont.eot');
    src: url('../font/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/greatvibes-regular-webfont.woff') format('woff'),
         url('../font/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../font/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}